*{
    box-sizing: border-box;
}


body {
    background-color: #080808;
}

 .card {
    border-radius: 5px;
    border-color: white ;
    color: lime;
 }


.flex-container {
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    padding-top: 50px;
    
}

h3 {
    color: white;
}

h1{
    color: magenta;
    font-size: 70px;
    text-align: center;
}

